<div id="petition">
    <h3>
        Vegan pitchfork tacos enamel pin coloring book, ugh pop-up 
        tattooed hot chicken street art umami. Bicycle rights chillwave 
        poutine sriracha umami blog.
    </h3>
    {{#if message}}
    <p class="errorMessage">Uh oh, something went wrong. Please try again!</p>
    {{/if}}
    <div>
        {{#rows}}
        <p> <a href="{{url}}" target="_blank">{{first_name}} {{last_name}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
        {{/rows}}
    </div>
</div>