<header>
    <img class="icon" src="https://cdn1.iconfinder.com/data/icons/fur-baby/256/Puppy-512.png">
    <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/edit">Profile</a></li>
        <li><a href="/petition">Petition</a></li>
        <li><a href="/logout">Logout</a></li>
    </nav>
</header>
<div id="signers" class="content">
    <h1><span class="title thin">Supporters</span></h1>    
    <p>
    </p>
    {{#if message}}
    <p class="errorMessage"><span class="highlight center">Uh oh, something went wrong. Please try again!</span></p>
    {{/if}}
    <div>
        {{#rows}}
        {{#if url}}
        <p><a href="{{url}}" target="_blank">{{first_name}} {{last_name}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
        {{else}}
        <p>{{first_name}} {{last_name}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
        {{/if}}
        {{/rows}}
    </div>
</div>