<header>
    <h1><span class="title thin">Signer</span></h1>
</header>
<div id="signers" class="content">
    <p>
        Vegan pitchfork tacos enamel pin coloring book, ugh pop-up 
        tattooed hot chicken street art umami. Bicycle rights chillwave 
        poutine sriracha umami blog.
    </p>
    {{#if message}}
    <p class="errorMessage"><span class="highlight center">Uh oh, something went wrong. Please try again!</span></p>
    {{/if}}
    <div>
        {{#rows}}
        <p> <a href="{{url}}" target="_blank">{{first_name}} {{last_name}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
        {{/rows}}
    </div>
</div>